<div class="{{ styles.surface2 }}" id="item-{{ item.id }}" >  

    <input 
        type="checkbox" 
        class="h-6 w-6 rounded border-{{styles.primary_color}}-300 text-{{styles.primary_color}}-600
        accent-{{styles.primary_color}}-400 
        cursor-pointer
        "
        {% if item.completed %}
            checked
        {% endif %}

        hx-get="{% url 'action_toggle_todo' item.id %}"
        />

    <!-- <span class="cursor-pointer"> -->
        {{ item.title }}
    <!-- </span> -->
    
    <button 
    hx-target="#item-{{ item.id }}" 
    hx-swap="outerHTML"
    hx-get="{% url 'action_delete_todo' item.id %}"   
    class="{{ styles.button_secondary }}"
    >
    Delete
</button>

</div>