<div id="item-{{ item.id }}" class="todo_item {{ styles.surface2 }} flex justify-between ">

    <div>

        <input type="checkbox" class="h-6 w-6 rounded border-{{styles.primary_color}}-300 text-{{styles.primary_color}}-600
        accent-{{styles.primary_color}}-400 
        cursor-pointer
        inline-block align-middle
        " {% if item.completed %} checked {% endif %} hx-put="{% url 'action_toggle_todo' item.id %}" hx-target="body"
            hx-swap="afterbegin" data-testid="toggle_item_{{ item.id }}" />

        <span class="inline-block align-middle px-2 font-semibold font-normal
        ">
            {{ item.title }}
        </span>
    </div>
    <div>
        <button hx-target="#item-{{ item.id }}" hx-swap="outerHTML" hx-delete="{% url 'action_delete_todo' item.id %}"
            class="{{ styles.button_secondary }} inline-block align-middle" data-testid="delete_item_{{ item.id }}">
            Delete
        </button>

    </div>
</div>